* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5f5c5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* title and error div*/
.header {
  font-size: 56px;
  font-weight: bold;
  float: center;
  color: white;
  margin: 5px;
}

#error {
  display: none;
}

#error.show {
  display: block;
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
  width: 400px;
  font-weight: 600;
}

/* container */
#container {
  width: 355px;
  margin: 25px;
  border: 3px solid #000;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.6);
}

#result-field {
  text-align: right;
  font-size: 25px;
  height: 35px;
  width: 100%;
  border: 1px solid #000;
  background-color: white;
  color: #000;
}

#back-arrow {
  height: 35px;
  width: 35px;
}

/*calculator table*/
table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  border: 1px solid #000;
}

tr th {
  background-color: #c2bab2;
}

tr th:last-child {
  background-color: #f98006;
}

.button1 {
  background-color: #c2bab2;
  font-size: 30px;
  border: none;
  outline: 0;
  text-align: center;
  float: center;
  height: 2.81em;
  width: 2.81em;
}

.button1:active {
  background-color: #3f3938;
  color: white;
}

.button2 {
  background-color: #f98006;
  font-size: 30px;
  border: none;
  outline: 0;
  text-align: center;
  color: white;
  height: 2.81em;
  width: 2.81em;
}

.button2:active {
  background-color: #bb430c;
  color: white;
}

/*authorship*/
h2 {
  color: white;
  font-size: 26px;
  margin-bottom: 15px;
}
